.card {
   
    margin: 50px;
    background-color: rgba(8, 8, 8, 0.418);
    border-radius: 50px;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0 0 0 10px transparent; 
    gap: 10px;
    cursor: pointer;
   
  }
  
  .card:hover {
    box-shadow: 0 0 20px blue; 
  }

  .text{
    color: white;
  }

  .cardImage {
    max-width: 250%; 
    height: 100px; 
  }
  


